body {
    background-color: aqua;
    font-family: georgia;
}

h1 {
    font-family: Comic Sans MS;
    font-size: 60px;
    color: darkblue;
}
p {
    text-align: justify;
    font-family: Georgia;

}
h4,h3 {
    font-family: Georgia;
}